CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
PORT=
NODE_ENV=
MONGODB_URI=
MONGODB_DOCKER_URI=
COHERE_API_KEY=
MERCADOPAGO_PUBLIC_KEY_TEST=
MERCADOPAGO_ACCESS_TOKEN=
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5001