CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
PORT=
NODE_ENV=
MONGODB_URI=
MONGODB_DOCKER_URI=
COHERE_API_KEY=
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENT_SECRET=
WOMPI_INTEGRITY_SECRET=
IS_PRODUCTION=false
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5001